<div class="demo-container">
  <h1>Angular Standalone Components</h1>
  <div>Standalone components provide a simplified way to build Angular applications. Standalone components, directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules. Existing applications can optionally and incrementally adopt the new standalone style without any breaking changes.</div>
  <div>The example below uses the standalone service "ImageUtilityService" to generate an image of the text you type</div>

  <div>
    <input #imgTxt type="text" [(ngModel)]="imageText" />
    <button mat-menu-item (click)="ConvertTextToImage()">
      Generate image
    </button>
  </div>
  <div>
    <img #convertedImage [src]="base64Image"/>
  </div>

  <div>
    Here is another example of a standalone component
  </div>
  <app-demo-standalone-component></app-demo-standalone-component>
</div>